/* 
    Document   : userManage.css
    Created on : 18 juin 2013, 21:17:26
    Author     : jpdepigny
    Description:
        Purpose of the stylesheet follows.
*/

.content-error{
    height: 60px;
}

.select{
    width: 65px;
}

.search{
    width: 400px;
}

#userSearchSubmit{
    position: relative;
    top: 0px;
    left: -20px;
    border-radius: 0px 4px 4px 0;
}
