{% extends "PosUserBundle::user.html.twig" %}
 
{% block content %}

    {% include "PosHomeBundle::alert.html.twig" %}

    <div class="form">
       <form action="{{ path('pos_user_manage_edit', {'id': id }) }}" {{ form_enctype(form) }} method="POST" novalidate="novalidate">
            {{ form_widget(form) }}
        </form>
    </div>
 
{% endblock %}

