 <div class="content-error">
        {% for key, flashMessages in app.session.FlashBag.all() %}
            {% for flashMessage in flashMessages %}
            <div class="alert alert-{{key}}">
               {{ flashMessage }}
            </div>
            {% endfor %}
        {% endfor %}
</div>
