/* 
    Document   : customerManage
    Created on : 28 oct. 2013, 22:34:50
    Author     : jpdepigny
    Description:
        Purpose of the stylesheet follows.
*/


.textAndButton button {
    position: relative;
    top: -5px;
    left: -10px;
    border-radius: 0px 4px 4px 0;
}