{% extends "PosPointOfSalesBundle::pointofsales.html.twig" %}


{% block fullContent %}

    <div class="row">
        {% include "PosPointOfSalesBundle::OutletStore/session.html.twig" %}

    </div>
    <div class="row">
        <div class="col-md-4" style="border:solid 1px red;height:100%">
            <div class="col-md-6" style="border:solid 1px darkred;height:100%">

            </div>
            <div class="col-md-6" style="border:solid 1px firebrick;height:100%">

            </div>
        </div>
        <div class="col-md-6" style="border:solid 2px green;height:100%">

        </div>
        <div class="col-md-2" style="border:solid 2px blue;height:100%">

            <div class="row">
                <input type="text" class="form-control" placeholder="Text input">
                <button type="button" class="btn btn-primary">New Customer</button>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block">7</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block">8</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block">9</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block">4</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block">5</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block">6</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block">1</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block">2</button>
                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block">3</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-4">
                    <button type="button" class="btn btn-primary btn-lg btn-block">0</button>
                </div>
                <div class="col-md-4">

                </div>
            </div>
        </div>
    </div>
{% endblock %}

