{% extends "PosCustomerBundle::customer.html.twig" %}
 
{% block content %}

    {% include "PosCustomerBundle::alert.html.twig" %}

    <div class="form">
       <form action="{{ path('pos_customer_manage_edit', {'customer_id': id }) }}" {{ form_enctype(form) }} method="POST">
            {{ form_widget(form) }}
        </form>
    </div>
 
{% endblock %}

